
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL}}news_explorer/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL}}news_explorer/css/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

    </style>
  </head>

  <body>
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/news_explorer">News Explorer</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                      <li id="news_articles_by_selection"><a href="#">News Article Viewer</a></li>
                  <li><a href="#">Map Visualisation</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="./">Default</a></li>
                  <li><a href="../navbar-static-top/">Static top</a></li>
                  <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" id="default">
        <h1>News Explorer!</h1>
        <p>Work in progress .. </p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

      <form class="well form-search" id="news_articles_by_selection_div" style="display:none">
          <select class="chzn-select" style="width:200px;" id="location" data-placeholder="Choose a country..."></select>

          <select class="chzn-select" style="width:200px;" id="organization" data-placeholder="Choose an organization..."></select>

          <select class="chzn-select" style="width:200px;" id="person" data-placeholder="Choose a person..."></select>

          <button id="search_button" class="btn btn-default btn-info btn-xs active"><span class="glyphicon glyphicon-hand-right"></span> Search</button>
      </form>

      <div class="panel-group" id="search_results">

      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL}}news_explorer/js/bootstrap.min.js"></script>

    <script src="http://harvesthq.github.com/chosen/chosen.jquery.js"></script>
    <link rel="stylesheet" href="http://harvesthq.github.com/chosen/chosen.css">

    <script>

        $("#news_articles_by_selection").bind('click', function() {
            $("#default").hide();
            $("#news_articles_by_selection_div").show();

            showSelectOptions();
        });

        $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
            var $target = $( event.currentTarget );

            $target.closest( '.btn-group' )
                .find( '[data-bind="label"]' ).text( $target.text() )
                .end()
            .children( '.dropdown-toggle' ).dropdown( 'toggle' );

            return false;
        });

        function showSelectOptions()
        {
            $.get("person", function( data ) {
                data = eval("[" + data.replace(/: u/g, ':').replace(/}{/g, '},{').replace(/L,/g, ',') + "]");
                for (var i=0; i<data.length; i++) {
                    $('#person')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#person").trigger("chosen:updated");
            });

            $.get("location", function( data ) {
                data = eval("[" + data.replace(/: u/g, ':').replace(/}{/g, '},{').replace(/L,/g, ',') + "]");
                for (var i=0; i<data.length; i++) {
                    $('#location')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#location").trigger("chosen:updated");
            });

            $.get("organization", function( data ) {
                data = eval("[" + data.replace(/: u/g, ':').replace(/}{/g, '},{').replace(/L,/g, ',') + "]");
                for (var i=0; i<data.length; i++) {
                    $('#organization')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#organization").trigger("chosen:updated");
            });

            $(function(){
                $(".chzn-select").chosen();
            });
        }

        $("#search_button").bind('click', function() {
            $.get("articles",  {location_id : $("#location").val()},
                function( data ) {
                    $("#search_results").empty();
                    data = eval(data);

                    for (var i=0; i<data.length; i++) {
                        var headline = data[i].headline;

                        $("#search_results").append('<div class="panel panel-default">' +
                                                    '<div class="panel-heading">' +
                                                        '<h4 class="panel-title">' +
                                                            '<a data-toggle="collapse" data-parent="#search_results" class="collapsed" article_id=' + data[i].id + ' href="#' + data[i].id + '">' +
                                                                 headline +
                                                            '</a>' +
                                                        '</h4>' +
                                                    '</div>' +
                                                    '<div id=' + data[i].id + ' class="panel-collapse collapse" style="height:0px">' +
                                                        '<div class="panel-body">' +
                                                        '</div>' +
                                                    '</div>' +
                                               '</div>');
                    }

                    $(".collapsed").bind('click', function() {
                        if(this.getAttribute('class') != "collapsed") {
                            return;
                        }

                        article_id = this.getAttribute('article_id');
                        $.get("article_content", {article_id : article_id},
                            function(data) {
                                $($("#" + article_id).find('.panel-body')[0]).html(data);
                            }
                        );

                        $.get("click_article", {article_id : article_id});
                    });
                }
            );
        });
    </script>
  </body>
</html>