
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL}}news_explorer/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL}}news_explorer/css/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

    </style>
  </head>

  <body>
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/news_explorer">News Explorer</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li id="news_articles_by_selection_li"><a href="#">News Article Viewer</a></li>
                  <li id="news_articles_chart_li"><a href="#">Chart Visualisation</a></li>
                  <li><a href="#">Map Visualisation</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" id="default">
        <h1>News Explorer!</h1>
        <p>Work in progress .. </p>
      </div>

      <form class="well form-search" id="news_articles_by_selection_div" style="display:none">
          <select class="chzn-select" style="width:200px;" id="location" data-placeholder="Choose a country..."></select>

          <select class="chzn-select" style="width:200px;" id="organization" data-placeholder="Choose an organization..."></select>

          <select class="chzn-select" style="width:200px;" id="person" data-placeholder="Choose a person..."></select>

          <button id="search_button" class="btn btn-default btn-info btn-xs active"><span class="glyphicon glyphicon-hand-right"></span> Search</button>
      </form>

      <div class="panel-group" id="search_results">

      </div>

      <form class="well form-search" id="news_articles_chart_div" style="display:none">
          <select class="chzn-select-chart" style="width:200px;" id="location_chart" data-placeholder="Choose a country..."></select>

          <select class="chzn-select-chart" style="width:200px;" id="organization_chart" data-placeholder="Choose an organization..."></select>

          <select class="chzn-select-chart" style="width:200px;" id="person_chart" data-placeholder="Choose a person..."></select>

          <button id="search_button_chart" class="btn btn-default btn-info btn-xs active"><span class="glyphicon glyphicon-hand-right"></span> Search</button>
      </form>

      <div id="highcharts_div">

      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL}}news_explorer/js/bootstrap.min.js"></script>

    <script src="http://harvesthq.github.com/chosen/chosen.jquery.js"></script>
    <link rel="stylesheet" href="http://harvesthq.github.com/chosen/chosen.css">

    <!-- Highcharts specific imports -->
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script>

        $("#news_articles_by_selection_li").bind('click', function() {
            $("#default").hide();
            $("#news_articles_chart_div").hide();
            $("#highcharts_div").hide();
            $("#news_articles_by_selection_div").show();

            showSelectOptions();
        });

        $("#news_articles_chart_li").bind('click', function() {
            $("#default").hide();
            $("#news_articles_by_selection_div").hide();
            $("#search_results").hide();
            $("#news_articles_chart_div").show();

            showChartSelectOptions();
        });

        $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
            var $target = $( event.currentTarget );

            $target.closest( '.btn-group' )
                .find( '[data-bind="label"]' ).text( $target.text() )
                .end()
            .children( '.dropdown-toggle' ).dropdown( 'toggle' );

            return false;
        });

        function showSelectOptions()
        {
            $.get("person", function( data ) {
                data = eval(data);

                addDefault($('#person'));

                for (var i=0; i<data.length; i++) {
                    $('#person')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#person").trigger("chosen:updated");
            });

            $.get("location", function( data ) {
                data = eval(data);

                addDefault($('#location'));

                for (var i=0; i<data.length; i++) {
                    $('#location')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#location").trigger("chosen:updated");
            });

            $.get("organization", function( data ) {
                data = eval(data);

                addDefault($('#organization'));

                for (var i=0; i<data.length; i++) {
                    $('#organization')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#organization").trigger("chosen:updated");
            });

            $(function(){
                $(".chzn-select").chosen();
            });
        }

        function showChartSelectOptions()
        {
            $.get("person", function( data ) {
                data = eval(data);

                addDefault($('#person_chart'));

                for (var i=0; i<data.length; i++) {
                    $('#person_chart')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#person_chart").trigger("chosen:updated");
            });

            $.get("location", function( data ) {
                data = eval(data);

                addDefault($('#location_chart'));

                for (var i=0; i<data.length; i++) {
                    $('#location_chart')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#location_chart").trigger("chosen:updated");
            });

            $.get("organization", function( data ) {
                data = eval(data);

                addDefault($('#organization_chart'));

                for (var i=0; i<data.length; i++) {
                    $('#organization_chart')
                        .append($("<option></option>")
                        .attr("value",data[i].id)
                        .text(data[i].name));
                }
                $("#organization_chart").trigger("chosen:updated");
            });

            $(function(){
                $(".chzn-select-chart").chosen();
            });
        }

        function addDefault(div$)
        {
            div$.append("<option></option>");
        }

        $("#search_button").bind('click', function() {

            inputParameters = getInputParameters();

            $.get("articles", inputParameters,
                function( data ) {
                    $("#search_results").empty();
                    data = eval(data);

                    for (var i=0; i<data.length; i++) {
                        var headline = data[i].headline;

                        $("#search_results").append('<div class="panel panel-default">' +
                                                    '<div class="panel-heading">' +
                                                        '<h4 class="panel-title">' +
                                                            '<a data-toggle="collapse" data-parent="#search_results" class="collapsed" article_id=' + data[i].id + ' href="#' + data[i].id + '">' +
                                                                 headline +
                                                            '</a>' +
                                                            '<button style="float:right" class="btn btn-default btn-info btn-xs disabled" id="button_' + data[i].id + '"> <span class="glyphicon glyphicon-ok"></span> ' + data[i].clicks + '</button>' +
                                                        '</h4>' +
                                                    '</div>' +
                                                    '<div id=' + data[i].id + ' class="panel-collapse collapse" style="height:0px">' +
                                                        '<div class="panel-body">' +
                                                        '</div>' +
                                                    '</div>' +
                                               '</div>');
                    }

                    $("#search_results").show();

                    $(".collapsed").bind('click', function() {
                        if(this.getAttribute('class') != "collapsed") {
                            return;
                        }

                        article_id = this.getAttribute('article_id');
                        $.get("article_content", {article_id : article_id},
                            function(data) {
                                $($("#" + article_id).find('.panel-body')[0]).html(data);
                            }
                        );

                        $.get("click_article", {article_id : article_id},
                            function(data) {
                                $("#button_" + article_id).html(' <span class="glyphicon glyphicon-ok"></span> ' + data);
                            }
                        );
                    });
                }
            );
        });

        $("#search_button_chart").bind('click', function() {

            inputParameters = getChartInputParameters();

            $.get("articles",  inputParameters,
            function( data ) {
                eachArticleClickCount = new Array();

                data = eval(data);
                for (var i=0; i<data.length; i++) {
                    eachArticleClickCount.push({x : i, y : data[i].clicks});
                }

                $('#highcharts_div').show();

                $('#highcharts_div').highcharts({
                    chart: {
                        borderColor: '#F5F5F5',
                        borderWidth: 3
                    },
                    title: {
                        text: 'Article Click Count'
                    },
                    tooltip: {
                        formatter: function() {
                            return data[this.x].headline;
                        }
                    },
                    xAxis: {
                        labels: {
                            enabled : false
                        }
                    },
                    yAxis: {
                        min : 0,
                        title : {
                          text : "Click Count"
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    legend: {
                        enabled : false
                    },
                    series: [{
                        name: 'Click Count',
                        data: eachArticleClickCount
                    }]
                });
            });
        });

        function getInputParameters()
        {
            var result = {};
            if ($("#location").val() != "") {
                result['location_id'] = $("#location").val();
            }

            if ($("#organization").val() != "") {
                result['organization_id'] = $("#organization").val();
            }

            if ($("#person").val() != "") {
                result['person_id'] = $("#person").val();
            }

            result['pid'] = 2;

            return result;
        }

        function getChartInputParameters()
        {
            var result = {};
            if ($("#location_chart").val() != "") {
                result['location_id'] = $("#location_chart").val();
            }

            if ($("#organization_chart").val() != "") {
                result['organization_id'] = $("#organization_chart").val();
            }

            if ($("#person_chart").val() != "") {
                result['person_id'] = $("#person_chart").val();
            }

            result['pid'] = 1;

            return result;
        }
    </script>
  </body>
</html>